{% extends "root/page.html.twig" %}
	
	{% block topSpace %}
	<div id="topSpace" class="navbar navbar-fixed-top"></div>
	{% endblock %} 
	{% block pageContentToolBar %} 
    	{% if canEdit %}
    	<div class="navbar hide navbar-inverse" id="contentToolBar">
    		<div class="navbar-inner pers-navbar">
    			<div class="container-fluid">
    				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    				<a class="brand" href="#">Administration</a>
    				<div id='viewmode'>
    					<div class="btn-group pull-left">
    						<a class="btn btn-primary" href="#" id="btn-edit"> <i class="icon-edit"></i>
    							Editer la page
    						</a>
    					</div>
    					<span class="label label-success pull-right">Consultation</span>
    				</div>
    				<div id='editmode' class='hide'>
    
    					<a class="btn btn-primary pull-left" href="#" id="btn-cancel"> <i
    						class="icon-remove"></i> Annuler
    					</a> <a class="btn btn-primary pull-left" href="#" id="btn-save"> <i
    						class="icon-ok"></i> Sauvegarder les modifications
    					</a> <span class="label label-warning pull-right">Edition</span>
    				</div>
    				<div class="span8 offset4" id="alerts"></div>
    			</div>
    		</div>
    	</div>
    	{% endif %} 
	{% endblock %} 
    
    {% block pageStyle %}
	    <!-- Le styles -->
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/bootstrap.css" rel="stylesheet">
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/responsive.css" rel="stylesheet">
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/flexslider.css" rel="stylesheet">
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/theme-style.css" rel="stylesheet">
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/colour-red.css" rel="stylesheet">
	    <link href="{{baseUrl}}/templates/rubedo-project-theme/css/custom-style.css" rel="stylesheet">
	    
	    {% for sheet in css %}
	    	<link href="{{baseUrl}}{{sheet}}" rel="stylesheet" />
	    {% endfor %}
	    
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
    {% endblock %}
    
    {% block body %}
    	
    	<body data-current-page="{{ currentPage }}" 
          data-is-draft="{{ isDraft }}" 
          data-current-workspace="{{ currentWorkspace }}" 
          {% if disqusKey %}data-disqusKey="{{ disqusKey }}"{% endif %}
          {% if googleMapsKey %}data-googleMapsKey="{{ googleMapsKey }}"{% endif %}
          data-site-id="{{ siteID }}"
          data-language="{{ lang }}"
          class="page page-index"
          >
    {% endblock %}
    
    {% block pageJavascript %}
    	<!-- Le javascript
    		================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="{{baseUrl}}/components/jquery/jquery/jquery-1.10.1.min.js"></script>
    	<script src="{{baseUrl}}/components/twitter/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{baseUrl}}/templates/rubedo-project-theme/js/jquery.flexslider-min.js"></script>
		<script src="{{baseUrl}}/templates/rubedo-project-theme/js/html5shim.js"></script>
		<script src="{{baseUrl}}/templates/rubedo-project-theme/js/jquery.flexslider-min.js"></script>
		<script src="{{baseUrl}}/templates/rubedo-project-theme/js/jquery.quicksand.js"></script>
		<script src="{{baseUrl}}/templates/rubedo-project-theme/js/script.js"></script>
		<script src="{{baseUrl}}/templates/root/js/mailingList.js"></script>
    	
    	{% for file in js %}
    		<script type="text/javascript" src="{{baseUrl}}{{file}}"></script>
    	{% endfor %}
	{% endblock %}
	
