{% extends "root/blocks/carrousel.html.twig" %} 

{% block mainContent %}

		<div class="inner">
			<!--Flexslider Showshow-->
			<section class="flexslider-wrapper container">
				<div class="flexslider" data-slidernav="auto" data-transition="slide" style="{% if imageWidth %}max-width:{{ imageWidth }}px;{% endif %}{% if imageHeight %}max-height:{{ imageHeight }}px;{% endif %}">
					<!--The Slides-->
					<div class="slides">
						
						{% for slide in items %}
							<div class="slide row-fluid" >
							    <a href="{{ displaySingleUrl(slide.id,null,singlePage) }}">
    								<div class="span7">
    									<img src="/dam?media-id={{slide.image}}" alt="{{slide.title}}" />
    								</div>
    								<div class="span5 caption">
    									<h2>{{slide.title}}</h2>
    									{{slide.body | cleanHtml}}
    								</div>
								</a>
							</div>
						{% endfor %}
	
					</div>
				</div>
			</section>
		</div>

{% endblock %}
